.gridContainer {
height: calc(100vh - 72px - 65px);
display: grid;
grid-template-areas: 'gridItem gridItem4 gridItem6'
                      'gridItem gridItem4 gridItem6'
                      'gridItem2 gridItem4 gridItem6'
                      'gridItem2 gridItem5 gridItem6'
                      'gridItem3 gridItem5 gridItem7'
                      'gridItem3 gridItem5 gridItem7'
                      'gridItem3 gridItem5 gridItem7';
grid-gap: 1rem;
margin-top: 1rem;

}

.gridItem {
grid-area: gridItem;
/* background-color: red; */
}
.gridItem2 {
grid-area: gridItem2;
/* background-color: black; */
}
.gridItem3 {
grid-area: gridItem3;
/* background-color: yellow; */
}

.gridItem4 {
grid-area:gridItem4;
/* background-color: blue; */
}

.gridItem5 {
grid-area: gridItem5;
/* background-color: purple; */
}

.gridItem6 {
grid-area: gridItem6;
/* background-color: hotpink; */
}

.gridItem7 {
grid-area: gridItem7;
/* background-color: yellow; */
}