/* border #F6F9FD */
/* icon, text #9EAAC8 */
:root {
    /* colors */
    --main-text: #c3cad9;
    --secondary-text: #9ba2b1;
    --accent-text: #343d4e;

    --main-background: #f7f8fa;
    --main-divider: #edeff2;

    --status-success: #2dc157;
    --status-alert: #c12d2d;
}


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EBF0F6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  background-color: #EEF1F3;
  margin-left: 65px;
  padding: 1rem;
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 1199.98px) {
 
}
/* Medium devices (tablets, 768px and up) */
@media (max-width: 991.98px) {
  .main {
    background-color: var(--status-success);
  }
  /* 2 columns */
  .gridContainer {
  height: calc(100vh - 72px - 65px);
  grid-template-areas:'gridItem7 gridItem7'
                      'gridItem gridItem2'
                      'gridItem gridItem2'
                      'gridItem6 gridItem4'
                      'gridItem6 gridItem4'
                      'gridItem6 gridItem4'
                      'gridItem6 gridItem5'
                      'gridItem3 gridItem5'
                      'gridItem3 gridItem5'
                      'gridItem3 gridItem5';
 grid-gap: 1rem;
 margin-top: 1rem;
 
}


}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767.98px) {
 /* 1 column */
}
/* Extra small devices (portrait phones, less than 576px) */
/* @media (max-width: 575.98px) {
} */


